@import "../styles/Variable.scss";
.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #282828;
  margin-top: 3rem;
  height: 6rem;
  @include mobile{
    height: 5rem;
  }
  p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  .socialIcons {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    a {
      color: #000;
      margin-right: 20px;
      svg{
        background: #fff;
        border-radius: 50%;
        overflow: visible;
        padding: 6px;
        font-size: 40px;
        @include mobile{
          font-size: 30px;
        }
      }
    }
  }
  p{
    display: flex;
    align-items: center;
  }
}
