.navContainer {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  height: 50px;
  margin-top: 20px;
  align-items: center;
  a {
    color: #000;
    text-decoration: none;
  }
  .ctaBtn{
    padding: 18px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #d7ba17;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
