@import "../styles/Variable.scss";
.projectsContainer {
  h1 {
    text-align: center;
    padding: 1.5rem;
  }
  .bodyContainer {
    padding: 1rem 2rem;
    margin: 2rem 7rem;
    border: 1px solid #fff;
    @include tablet{
      margin: 2rem;
      padding: 1rem 0.5rem;
    }
    .slickArrows {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 20px;
      svg {
        font-size: 35px;
        cursor: pointer;
        overflow: visible;
      }
      @include tablet{
        display: none;
      }
    }
    .slickContainer {
      display: flex !important;
      flex-direction: row;
      @include tablet{
        flex-direction: column;
      }
      img {
        width: 65%;
        object-fit: contain;
        @include tablet{
          width: 100%;
        }
      }
      .projectDetails{
        padding: 3rem 2rem;
        @include tablet{
          padding: 0 2rem 2rem 2rem;
        }
        p:first-child{
          font-size: 30px;
          margin-bottom: 2rem;
          font-weight: 600;
        }
        p:nth-child(2){
          font-size: 16px;
          margin-bottom: 2rem;
        }
        a{
          button{
            font-family: "Courier New", Courier, monospace;
            padding: 0.7rem;
            font-size: 15px;
            font-weight: 600;
            background: transparent;
            border: 1px solid rgb(237, 61, 61);
            color: rgb(237, 61, 61);
            cursor: pointer;
            width: 100%;
          }
          button:hover{
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }
}
