@import "../styles/Variable.scss";
.projectsContainer {
  h1 {
    text-align: center;
    padding: 1.5rem;
  }
  .bodyContainer {
    padding: 1rem 2rem;
    margin: 2rem 7rem;
    @include tablet {
      margin: 2rem;
      padding: 1rem 0.5rem;
    }
    .slickArrows {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 20px;
      svg {
        font-size: 35px;
        cursor: pointer;
        overflow: visible;
      }
      @include tablet {
        display: none;
      }
    }
    .slickContainer {
      display: flex !important;
      position: relative;
      flex-direction: row;
      margin-bottom: 5rem;
      @include tablet {
        flex-direction: column;
        background-color: #2546eb;
      }
      img {
        padding: 0 4.5rem 0 0rem;
        width: 65%;
        object-fit: contain;
        background-color: #2546eb;
        @include tablet {
          width: 100%;
          background-color: transparent;
          padding: 0;
        }
      }
      img:hover {
        transform: scale(0.94);
        transition-duration: 0.8s;
      }
      .projectDetails {
        position: absolute;
        width: 45%;
        bottom: 6rem;
        right: 0;
        color: #fff;
        padding: 3rem 3rem;
        @include tablet {
          position: relative;
          width: 100%;
          bottom: 0;
          padding: 0 1rem 2rem 1rem;
          text-align: center;
          margin-top: -1.5rem;
        }
        p:first-child {
          font-size: 30px;
          margin-bottom: 2rem;
          font-weight: 600;
          border-bottom: #fff;
        }
        p:nth-child(2) {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 2rem;
        }
        a {
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          border-bottom: 1px solid #fff;
          @include tablet{
            padding: 1rem;
            background: #000;
            color: rgb(237, 61, 61);;
          }
        }
        a:hover {
          color: rgb(237, 61, 61);
          border-bottom: 1px solid rgb(237, 61, 61);
          border-bottom-width: 7px;
          transition-duration: 0.4s;
          @include tablet{
            border-bottom: none;
          }
        }
      }
    }
  }
}
